<p>Hello <%= @reporter.name.present? ? @reporter.name : @reporter.email %>!</p>
<p>Your support request is successfully received. Please follow this link to review your provided details and follow up on it further more. <%= link_to 'Link to Request', @url %></p>
<p>Thank you,<br>Your support team.</p>