<!DOCTYPE html>
<html>
<head>
  <title>Ticket it</title>
  <%= stylesheet_link_tag    "ticket_it/application", media: "all" %>
  <%= javascript_include_tag "ticket_it/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
